<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
	<listeners>
		<listener class-name="ListenerPackage.CustomListener" />
	</listeners>

	<test name="PracticeClass" thread-count="2">
		<classes>
			<class name="MavFramework.PracticeClass">
				<methods>
					<include name="launchBrowser" />
					<include name="launchApplication" />
				</methods>
			</class>

			<class name="testNGPracticePackage.DataProviderPractice">
				<methods>
					<include name="getDatafromDataProvider" />
				</methods>

			</class>
		</classes>
	</test> <!-- PracticeClass -->
</suite> <!-- Suite -->
